test recipes new
<h1>Program Your Recipe</h1>

<form method="POST" action="/recipes">


name
    <input type="text" name="name"><br>
ingredients
    <textarea name="ingredients"></textarea><br>
directions
    <textarea name="directions"></textarea><br>
notes
    <textarea name="notes"></textarea><br>


    <input type="submit">

</form>
