test recipes new
<h1>Program Your Recipe</h1>

<form method="POST" action="/recipes">

  <select name="user_id">
    <% @users.each do |user| %>
    <option value="<%= user.id %>"> <%= user.username %></option>
    <% end %>
  </select>
name
  <input type="text" name="name">
ingredients
    <textarea name="ingredients"></textarea>
    directions
    <textarea name="directions"></textarea>
  notes
    <textarea name="notes"></textarea>


    <input type="submit">

</form>
